<div class="questions-array" value="<%= @questions_array %>">
<div class="container">
  <h2>Math</h2>
  <p>All the <strong>cool kids</strong> are doing it.</p>

  <div class="flash-card">
    <span class="number number-one"></span>
    <span class="number property"></span>
    <span class="number number-two"></span>
    <span class="number">=</span>

    <form id="form-answer" action="#">
      <input type="text" name="fname" id="answer"><br><br>

      <input type="submit" value="Check Answer" class="check-answer">
    </form>
  </div>
</div>
